*{
    margin:0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
    display: inline-block;
}

.container{
    width: 1320px;
    margin: 0 auto;
}


/* ==========================================
                   menuber  Basic CSS is ENd
================================================*/
.main-menu{
    background: #27ae60;
}
.main-menu ul li a{
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    position: relative;
    padding: 5px 0;
    line-height: 50px;
    margin-left: 20px;
    
}

.main-menu ul li a::after{
    position: absolute;
    content: '';
    top:97%;
    left:50%;
    width: 0%;
    height: 2px;
    background: white;
    transition: .4s;
    transform: translateX(-50%) ;
    -webkit-transform: translateX(-50%) ;
    -moz-transform: translateX(-50%) ;
    -ms-transform: translateX(-50%) ;
    -o-transform: translateX(-50%) ;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.main-menu ul li a:hover::after{
    width: 100%;
}
.main-menu ul li a:hover{
    color: rgb(255, 255, 255);
    background: #10be59;
}
/* ==========================================
                   menuber  CSS START
================================================*/

/* ==========================================
                     CSS ENd
================================================*/

/* ==========================================
                     CSS START
================================================*/


/* ==========================================
                     CSS ENd
================================================*/

/* ==========================================
                     CSS START
================================================*/


/* ==========================================
                     CSS ENd
================================================*/

/* ==========================================
                     CSS START
================================================*/


/* ==========================================
                     CSS ENd
================================================*/

/* ==========================================
                     CSS START
================================================*/


/* ==========================================
                     CSS ENd
================================================*/

/* ==========================================
                     CSS START
================================================*/


/* ==========================================
                     CSS ENd
================================================*/

/* ==========================================
                     CSS START
================================================*/


/* ==========================================
                     CSS ENd
================================================*/

/* ==========================================
                     CSS START
================================================*/


/* ==========================================
                     CSS ENd
================================================*/

/* ==========================================
                     CSS START
================================================*/


/* ==========================================
                     CSS ENd
================================================*/

/* ==========================================
                     CSS START
================================================*/


/* ==========================================
                     CSS ENd
================================================*/

/* ==========================================
                     CSS START
================================================*/


/* ==========================================
                     CSS ENd
================================================*/

/* ==========================================
                     CSS START
================================================*/


/* ==========================================
                     CSS ENd
================================================*/

/* ==========================================
                     CSS START
================================================*/


/* ==========================================
                     CSS ENd
================================================*/

/* ==========================================
                     CSS START
================================================*/


/* ==========================================
                     CSS ENd
================================================*/

/* ==========================================
                     CSS START
================================================*/


/* ==========================================
                     CSS ENd
================================================*/

/* ==========================================
                     CSS START
================================================*/


/* ==========================================
                     CSS ENd
================================================*/


